body {
	margin: 0;
	font-family: monospace;
}

li {
  text-align: left;
}

button {
  overflow: hidden;
  width: 100px;
  background-color: #53b5e6;
  position: relative;
  border: 0;
  padding: 14px 18px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
}
button:hover {
  background-color: #69bfe9;
  border-color: rgba(0,0,0,0.07);
}

#top_bar {
	width: 100%;
	height: 50px;
	position: fixed;
	background-color: #ccc;
	border-bottom: 1px solid #999;
}
#top_bar a,
#top_bar .title {
	line-height: 50px;
}
#top_bar a {
	background-color: #888;
	text-align: center;
	width: 100px;
	color: #fff;
	text-decoration: none;
}
#top_bar a:hover {
	background-color: #777;
}
#top_bar a.prev {
	float: left;
}
#top_bar a.next {
	float: right;
}
#top_bar .title {
	text-align: center;
	margin: 0;
}

#content {
  width: 400px;
  margin: 0 auto;
  text-align: left;
	padding: 80px 0;
}
#side_panel {
  position: fixed;
  width: 300px;
  height: 200px;
  margin-left: -350px;
  margin-top: -100px;
  top: 50%;
}

/* container styles */
.some_container {
  padding: 10px 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.another_container {
  padding: 10px;
  border: 2px solid #aaa;
  margin: 10px 0px;
  border-radius: 5px;
}
.some_container div {
/*  height: 50px;*/
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ddd;
  border: 1px solid #777;
  border-radius: 5px;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}
.some_container .highlight {
  background-color: orange;
}
.some_container .skip {
  background-color: #aaa;
}
.action_container {
	border: 1px solid #999;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
.action_container.updated {
  -webkit-animation: highlight 1s; /* Safari 4+ */
  -moz-animation:    highlight 1s; /* Fx 5+ */
  -o-animation:      highlight 1s; /* Opera 12+ */
  animation:         highlight 1s; /* IE 10+ */
}

@-webkit-keyframes highlight {
  0%   { background-color: orange; }
  100% { background-color: none; }
}
@-moz-keyframes highlight {
  0%   { background-color: orange; }
  100% { background-color: none; }
}
@-o-keyframes highlight {
  0%   { background-color: orange; }
  100% { background-color: none; }
}
@keyframes highlight {
  0%   { background-color: orange; }
  100% { background-color: none; }
}

.element_to_clone {
	margin-bottom: 10px;
}